{% extends "polls/layout.html" %}
{% block title %}Polls{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script src="{{MEDIA_URL}}poll/javascripts/polls.js" type="text/javascript"></script>
{% endblock %}
{% block content %}

<table width="100%" class="poll_table"> 
  <thead> 
    <tr>
      <th class="poll_name_col">Name</th>  
      <th class="poll_question_col">Question</th>
      <th class="poll_date_col">Start Date</th>
      <th class="poll_date_col">Closing Date</th>
      <th class="poll_options_col"></th> 
    </tr> 
  </thead> 
  <tbody>
    {% if polls %}
    {% for poll_obj in polls %}
    <tr class="poll_table_row">
      <td>{{ poll_obj.name }}</td>
      <td><b>{% if poll_obj.start_date %}{{ poll_obj.question }}{% else %}<font color="grey">{{ poll_obj.question }}</font>{% endif %}</b></td>
      <td>{% if poll_obj.start_date %}{{ poll_obj.start_date|date:"d/m/Y" }}{% endif %}</td>
      <td>{% if poll_obj.end_date %}{{ poll_obj.end_date|date:"d/m/Y" }}{% else %}Open{% endif %}</td>      
      <td>
          <a style="float:right;padding-top:7px;" href="javascript:void(0);" onclick="deletePoll(this, '{% url poll.views.delete_poll poll_obj.pk %}','{{poll_obj.question|addslashes}}');"><img border="0" src="{{ MEDIA_URL }}rapidsms/icons/silk/delete.png"/></a>
          <div class="buttons">
              {% if poll_obj.responses__count %}
                  <a href="{% url poll-report poll_obj.pk %}">
                        <img src="{{ MEDIA_URL }}poll/icons/silk/zoom.png" alt=""/> Report
                  </a>
            	  <a href="{% url poll-responses poll_obj.pk %}">
                        <img src="{{ MEDIA_URL }}poll/icons/silk/database_table.png" alt=""/> Responses ({{ poll_obj.responses__count }})
            	  </a>
	          {% endif %}
	          <a href="{% url poll.views.view_poll poll_obj.pk %}">
                  <img src="{{ MEDIA_URL }}poll/icons/silk/bullet_wrench.png" alt=""/> Edit
	          </a>
	      </div>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="poll_table_row">
      <td colspan="5"><i>No existing Polls.  Click 'Add New Poll' to create one.</i></td>
    </tr>
    {% endif %}
  </tbody>
</table>
<br/>

<div class="buttons"> 
    <a href="{% url poll.views.new_poll %}" style="float:left"> 
      <img border="0" src="/static/rapidsms/icons/silk/add.png" alt=""/>Add New Poll
    </a> 
</div>

<br/><br/>

</div>


<form name="form" method="post" action="">
{% csrf_token %}
</form>

</div>

{% endblock %}
