<div id="poll_header">
<div class="buttons">
    <a href="javascript:void(0)" onclick="$.get('{% url poll.views.demo poll.pk %}')" style="float:right"> 
      <img border="0" src="/static/rapidsms/icons/silk/package_go.png" alt=""/>Send Alerts
    </a>
</div>
<div class="name">{{ poll.name }} :
  <span class="participants">{{ poll.contacts.count }} participant{{ poll.contacts.count|pluralize }}, {{ poll.responses.count }} total response{{ poll.responses.count|pluralize }} ({{ response_rate|floatformat }}% response rate)</span>
</div>
<div class="question">{{ poll.question }}</div>
<div class="response">Response: {{ poll.default_response }}</div>
</div>
<table width="100%" class="poll_table"> 
    <thead>
        <th>Location</th>
        <th>Total</th>
        <th>Max</th>
        <th>Min</th>
        <th>Avg</th>
        <th>StdDev</th>
    </thead>
    <tbody>
        {% for location_data in report_rows %}
            <tr>
                <td>
                    <a href="javascript:void(0)" onclick="$('#poll_report').load('{% url poll-report-location-module poll.pk location_data.location_id %}')">
                        {{ location_data.location_name }}
                    </a>
                </td>   
                <td>{{ location_data.value_float__sum|floatformat }}</td>
                <td>{{ location_data.value_float__max|floatformat }}</td>
                <td>{{ location_data.value_float__min|floatformat }}</td>
                <td>{{ location_data.value_float__avg|floatformat }}</td>
                <td>{{ location_data.value_float__stddev|floatformat }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
