<div class="name">Edit '{{poll.name}}'</div>

{% load uni_form_tags %}

<form action="{% url poll.views.edit_poll poll.pk %}" method="post" class="uniForm">
<fieldset>
{{form|as_uni_form}}

<div class="buttons" style="float:left;margin-bottom:10px;margin-top:10px">
  <a onclick="showPollDetails('{{ poll.pk }}');" href="javascript:void(0);" class="negative">
    <img src="{{ MEDIA_URL }}rapidsms/icons/silk/decline.png" alt=""/> 
    Cancel
  </a>
  <a onclick="submitForm(this, '#poll_header');" href="javascript:void(0);">
    <img src="{{ MEDIA_URL }}poll/icons/silk/disk.png" alt=""/> 
    Save Poll Details
  </a>
</div>
</fieldset>
</form>
