{% extends "polls/layout.html" %}
{% block content %}
<script type="text/javascript">   
    function editRow(link, url) {
        var row = $(link).parents("tr");
        row.load(url);
    }
  
    function addRule() {
        $.get("{% url poll.views.add_rule poll.pk category.pk %}", function(data) {
          $("#rules_table").append("<tr>" + data + "</tr>");
        });
    }
  
    function cancelAdd(link, itemId) {
        if (confirm("Are you sure you want to cancel this new Rule?")) {
          $(link).parents("tr").remove();
        }
    }
    
    function cancelSave(link, url) {
        $(link).parents("tr").load(url);
    }

    function add(link, url) {
        var form_data = $(link).parents("form").serializeArray();
        $(link).parents("tr").load(url, form_data);
    }
  
    function saveRow(link, url) {
        form_data = $(link).parents("form").serializeArray();
        $(link).parents("tr").load(url, form_data);
    }
  
    function deleteRow(link, url) {
        if (confirm("Are you sure you want to delete this rule?")) {
          $.post(url , function(data) {
            $(link).parents("tr").remove();
          }); 
        }
    }
</script>
<div class="details">
<div class="name">{{ category.name }} Rules</div>
</div>
<form action="">
<table width="100%" class="poll_table" id="rules_table">
    <thead>
        <tr>
            <th class="rule_rule_type_friendly_col">Rule</th>
            <th class="rull_rule_string_col">Text</th>
            <th id="options_header"></th>
        </tr>
    </thead>
    {% for rule in rules %}
        <tr>
            {% include "polls/rule_view.html" %}
        </tr>
    {% endfor %}
</table>
</form>
<br/>
<div class="buttons">
    <a href="javascript:addRule();" style="float:left">
        <img border="0" src="{{ MEDIA_URL }}rapidsms/icons/silk/add.png" alt=""/>Add Rule
    </a>
</div>
<div id="error"></div>
{% endblock %}