.form_title {
	font-size:20px;
	padding-bottom:5px;
	border-bottom:0px solid #eee;
	color:#666;
	margin-bottom:10px;
}

.form_body {
	font-size:16px;
	color:#666;
}

.form_edit {
	font-size:10px;
	padding-left:5px;
}

.form_fields {
	margin-top:10px;
	padding-top:10px;
	background: green;
} 


.right {
  text-align: right;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.form_unselected {
}

.form_selected {

}

.form_field_edits {

}

.form_field_name {

}

.form_edit_name {
	padding-bottom:3px;
	margin-bottom:5px;
	border-bottom:0px solid #ddd;
}

.form_edit_name #id_caption {
	font-size:18px;
	color:#666;
}


.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}


.constraints_box {
	margin-top:5px;
	border-top:0px solid #ddd;
	padding-top:5px;
}

#edit_box {
	
}

.errorlist {
	list-style-type: none;
	color: #993131;
	margin: 0px; 
	padding: 0;
	padding-top:5px;
	padding-bottom:5px;
}

.name_error {
	padding-left:25px;
}

.form_table {
	background-color:#efefef;
	border: 1px solid #ddd;

}

.form_table table tr td th form  {
  padding:0px;
  margin:0px;
}

.form_fields_cell {
	padding:0px;
	padding-right:2px;
	padding-left:-4px;
	background-color:#f3f3f3;
}

.field_box {
	background-color:white;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin: 0px 0px 0px 0px;
	width:100%;
}

.field_name_col {
	padding:0px;
	padding-left:5px;
	margin:0px;
	width:200px;
	border:0px solid;
	font-weight:bold;
}

.field_type_col {
	width:125px;
	border:0px solid;
}

.field_command_col {
	width:165px;
	border:0px solid;
}

.field_description_col {
	border:0px solid;
	width:150px;
}

.field_options_col {
	border:0px solid;
	text-align:right;	
}

.form_description_col {
	border:0px solid;
}

.form_name_col {
	border:0px solid;
	width:100px;
}


.form_options_col {
	width: 250px;
	border:0px solid;
	text-align:right;	
}


.constraint_type_col {
  width:200px;
  border:0px;
}

.constraint_test_col {
  width:200px;
  border:0px;
}

.constraint_message_col {
  width:250px;
  border:0px;
}

.constraint_options_col {
  border:0px;
}

.form_table_row {
	background: #FFF;
}

.field_table table tr td th form {
  padding:0px;
  margin:0px;
}


.field_table {
  margin-left:0px;
}

.field_table td {
  font-size:12px;
  color:#666;
}


form {
  padding:0px;
  margin:0px;
}
.add_field_header {
  background-color:#66a1d0;
  color:white;
  padding-left:10px;
  padding-top:5px;
  padding-bottom:5px;
}

.field_box .add_field {
  background-color:#fff;
}

.details {
  margin-bottom:15px;
  color:#666;
  font-size:14px;
  line-height: 1.2em;
}

.details .name {
  font-weight:bold;
  font-size:18px;
  margin-bottom:7px;
}

.details .label {
  font-weight:bold;
  font-size:14px;
}

#form_header {
  margin-left:8px;
  margin-bottom:15px;
  color:#666;
}

#form_header .name {
  font-weight:bold;
  font-size:18px;
  margin-bottom:7px;
}

#form_header .keyword {
  font-weight:bold;
  font-size:12px;
}

#form_header .description {
  font-size:14px;
}

#form_header .response {
  font-size:12px;
  font-style:italic;
  margin-top:10px;
  margin-right:10px;
  padding:10px;
  border: 1px solid #ddd;
}

.breadcrumb {
  font-size:12px;
  color:#666;
  margin-bottom: 0px;
  border-bottom: 1px solid #eee;
  padding-bottom:5px;
  
  margin-left:10px;
  margin-top:10px;
  margin-right:10px;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li span { position: absolute; margin-left: 0em; }
#sortable ul { padding:0px; margin: 0em; }

/* BUTTONS */

.buttons a, .buttons button{
    display:block;
    float:right;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:11px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

input[type="checkbox"] + label {
    display: inline;
}

.paginator {
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    color: #aaa;
}

.paginator_pager {
    float: right;
}
