{% extends "groups/base.html" %}
{% load pagination_tags sorting_tags %}

{% block title %}Groups{% endblock %}

{% block content %}
    <div class="row">
		<div class="span10">
				<h2>Groups</h2>  
				<table class='table' style="border-top:none;" >
					<thead>
						<tr>
							<th>{% anchor id "Group ID Number" %}</th>
							<th>{% anchor name Name %}</th>
							<th>{% anchor count "Number Recipients" %}</th>
						</tr>
					</thead>
					<tbody>
						{% for group in groups %}
							<tr class="{% cycle 'odd' 'even' %}">
								<td>{{ group.pk }}</td>
								<td><a href='{% url edit-group group.pk %}'>{{ group.name }}</a></td>
								<td>{{ group.count }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<p><a class='btn' title='Add group' href="{% url create-group %}" >add group</a></p>
			
    </div>
    <div class="span10">
    ...
    </div>
    </div>

{% endblock %}