{% extends "groups/base.html" %}
{% load pagination_tags sorting_tags %}


{% block title %}{% if form.instance.pk %}Edit Group{% else %}Create Group{% endif %}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<link type="text/css" rel="stylesheet" href="/static/css/ui.multiselect.css" />
{% endblock %}

{% block javascripts %}
{{ block.super }}

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
{% endblock %}

{% block content %}
	<h4>{% if form.instance.pk %}Edit Group{% else %}Create Group{% endif %}</h4>
	<div class="row">
		    <div class="well span7">
	    		<form action="#" method="POST" class="buttons">
	    			{% csrf_token %}
                                <p class="group_field_name">
                                    <span class="label">Name:</span>
	    			    <span class="field">{{ form.name }}</span>
                                </p>
                                <p class="group_field_desc">
                                    <span class="label">Description:</span>
                                    <span class="field">{{ form.description }}</span>
                                </p>
                                <p class="group_field_contacts">
                                    <span class="field">{{ form.contacts }}</span>
                                </p>

	    			<div class='form-action' style="align:right">
	    				<input type='button' name='cancel' value='Cancel' class='btn' style="margin-left:255px;" />
	    				<input type='submit' name='submit' value="Save" class='btn primary'  />
	    			</div>
	    		</form>
		    </div>
		    <div class="span7">
		    	<table class='table' >
		    		<thead>
		    			<tr>
		    				<th>{% anchor id "Group ID Number" %}</th>
		    				<th>{% anchor name Name %}</th>
		    				<th>{% anchor count "Number Recipients" %}</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			{% for group in groups %}
		    				<tr class="{% cycle 'odd' 'even' %}">
		    					<td>{{ group.pk }}</td>
		    					<td><a href='{% url edit-group group.pk %}'>{{ group.name }}</a></td>
		    					<td>{{ group.count }}</td>
		    				</tr>
		    			{% endfor %}
		    		</tbody>
		    	</table>
		    </div>
	  </div>


{% endblock %}
