
	body {
		background:  url("../images/backgroundwhite.png") repeat-x #B1DEEA;
		color: #333333;
		font: 9pt/1 "Helvetica","Arial";
		margin-top: 70px;
		padding: 0;
    
}

	#inner {
		padding: 1em;
		position: relative;
}

/*--------------- START OF HEADER -----------------*/

	#header {
		background: url("../images/header-bg.png") repeat-x scroll 0 0 transparent;
		color: #CCCCFF;
		padding-bottom: 33px;
		padding-top: 23px;
		position: relative;
    
}

	#branding {
		padding: 0 10px;
	
}

    #branding h1 {
        background: url("");
        height: 0px;
        color: #fff;
        margin: 0;
}

	#branding h1 a {
		background: url("../images/harukasms.png") no-repeat scroll 0 50% transparent;
		display: block;
		float: left;
		height: 70px;
		width: 250px;
		margin-left: -12px;
		margin-top: -72px;
}

/*------------------- END OF HEADER ---------------------*/


/*--------------- START OF MAIN NAVIGATION -----------------*/

#tabs {
    right: 125px;
    top: 83px;
    background-color: none;
    left: 477px;
    top: -19px;
    
}

   #tabs,
    #page-tabs {
        position: absolute;
        height: 28px;
        bottom: 0;
        padding: 0;
        margin: 0;
        margin-left: -41px;
    }

    /* global tabs sit on the right, page-specific tabs sit on the left.
     * to draw more attention. TODO: maybe re-think this */
    #tabs { right: 0; }
    #page-tabs { left: 0;  }

        #tabs li,
        #page-tabs li {
            display: block;
            float: left;
            line-height: 28px;
        }

        /* 5px spacing between each tab, to match the top gap, since
         * we're using pixel-positioned backgrounds there */
        #tabs li { margin-right: 5px; }
        #page-tabs li { margin-left: 5px; }

            #tabs li a,
            #page-tabs li a {
                color: #fff;
                display: block;
                padding: 0 1em;
                background: #2fa5d1 url("../images/tab-bg.png") repeat-x;
                border-right: 0px;
                border-left: 0px;

/*--------------- END OF MAIN NAVIGATION -----------------*/

}

#wrapper {
    width: 80em;
    background: #fff;
    margin: 0.5em auto 0 auto;
   
    -moz-box-shadow: 4px 4px 8px #575757;
    box-shadow: 0px 2px 6px #aaa;
    -moz-border-radius-bottomright: 1em;
    -moz-border-radius-bottomleft: 1em;
    -moz-border-radius-topright: 1em;
    -moz-border-radius-topleft: 1em;
}

/*--------------- START OF FOOTER -----------------*/

#footer {
    border-top: 0px;
    padding: 0.5em;
    clear: both;
    color: #ccc;

    /* reserve space for at two lines of links @ LH=1.4 (for the
     * copyright and licensing/download info) */
    min-height: 2.8em;
}

    #footer .footer-region {
        margin-top: 1.4em;
        line-height: 1.4;
        opacity: 0.25;
        float: left;
    }

        #footer .footer-region:hover {
            opacity: 1; }

        #footer .footer-region a            { margin-right: 0.5em; }
        #footer .footer-region a:last-child { margin-right: 0; }


    #footer p.rights {
        text-align: right;
        float: right;
        margin: 0;
   }
    
    
 /*------------- START OF MODULE HEADER ----------------*/
    
    
	div.module h2 {
		background-color: #FFFFFF;
		background-image: url("");
		font-size: 160%;
		letter-spacing:0.5px;
		padding: 0.3125em;
		text-shadow: 1px 1px 1px #f4f4f4;
}

	div.module h2, div.module h3 {
		background-position: 0 100%;
		background-repeat: repeat-x;
		color: #666666;
		font-weight: normal;
		line-height: 1;
		margin: 0;
		white-space: nowrap;
    
}

	div.module div {
		-moz-border-bottom-colors: none;
		-moz-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		background-color: #F4F4F4;
		border-color: #DDDDDD #EEEEEE #FFFFFF;
		border-style: solid;
		border-width: 1px;
		border-radius: 4px 4px 4px 4px;
    
    
}

	div.module div.module {
		border: none;
}
