
	body {
		background:  url("../images/backgroundwhite.png") repeat-x #B1DEEA;
		color: #333333;
		font: 9pt/1 "Helvetica","Arial";
		margin-top: 70px;
		padding: 0;
    
}

	#inner {
		padding: 1em;
		position: relative;
}

#wrapper {
    width: 80em;
    background: #fff;
    margin: 0.5em auto 0 auto;
    -moz-box-shadow: 4px 4px 8px #575757;
    box-shadow: 0px 2px 6px #aaa;
    -moz-border-radius-bottomright: 1em;
    -moz-border-radius-bottomleft: 1em;
    -moz-border-radius-topright: 1em;
    -moz-border-radius-topleft: 1em;
  
}

/*--------------- START OF HEADER -----------------*/

	#header {
		background: url("") repeat-x scroll 0 0 transparent;
		color: none;
		padding-bottom: 33px;
		padding-top: 23px;
		position: relative;
    
}

	#branding {
		padding: 0 10px;
	
}

    #branding h1 {
        background: url("");
        height: 0px;
        color: #fff;
        margin: 0;
}

	#branding h1 a {
		background: url("../images/harukasms.png") no-repeat scroll 0 50% transparent;
		display: block;
		float: left;
		height: 70px;
		width: 250px;
		margin-left: -12px;
		margin-top: -72px;
}

/*------------------- END OF HEADER ---------------------*/


/*--------------- START OF MAIN NAVIGATION -----------------*/

    #tabs,
    #page-tabs {
    background: url("../images/nav2.png") repeat-x;
        position: absolute;
        height: 50px;
        bottom: 0;
        padding: 0;
        margin: 0;
        top: -35px;
        right: 50px;
        --webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
    }

        #tabs li,
        #page-tabs li {
            display: block;
            float: left;
            line-height: 28px;
        }


        #tabs li { margin-right: 0px; }
        #page-tabs li { margin-left: 0px; }

            #tabs li a,
            #page-tabs li a {
                color: #fff;
                font: 10pt/1 "Helvetica","Arial";
                height: 50px
                margin-top:10px;
                background: url("") repeat-x;
                border-right: 0px;
                border-left: 0px;
                margin-top: 18px;
                position: relative;
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
            }

            #tabs li.unread a span {
                display: block;
                padding-right: 21px;
                background: url("") no-repeat 100% 50%;
            }

            #tabs li.active a,       #page-tabs li.active a,
            #tabs li.active a:hover, #page-tabs li.active a:hover,
            #tabs li.active a:focus, #page-tabs li.active a:focus {

                background: #fff url("") repeat-x;
                text-decoration: none;
                text-shadow: none;
                color: #000;
                border: 0px;
                border-bottom: 0;
                margin-top: -1px;
            }

            #tabs li a:hover, #page-tabs li a:hover,
            #tabs li a:focus, #page-tabs li a:focus {
                background-image: url("");
                text-shadow: #cef1f5 0 0 2px;
                text-decoration: none;
            }



/*--------------- END OF MAIN NAVIGATION -----------------*/


.submit {
    background-image: -moz-linear-gradient(center top , #049CDB, #0064CD);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
     -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.1s linear 0s;
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-repeat: no-repeat;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: normal;
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    
}


/*--------------- START OF FOOTER -----------------*/

#footer {
    border-top: 0px;
    padding: 0.5em;
    clear: both;
    color: #ccc;

    /* reserve space for at two lines of links @ LH=1.4 (for the
     * copyright and licensing/download info) */
    min-height: 2.8em;
}

    #footer .footer-region {
        margin-top: 1.4em;
        line-height: 1.4;
        opacity: 0.25;
        float: left;
    }

        #footer .footer-region:hover {
            opacity: 1; }

        #footer .footer-region a            { margin-right: 0.5em; }
        #footer .footer-region a:last-child { margin-right: 0; }


    #footer p.rights {
        text-align: right;
        float: right;
        margin: 0;
   }
    
    
 /*------------- START OF MODULE HEADER ----------------*/
    
    
	div.module h2 {
		background-color: #FFFFFF;
		background-image: url("");
		font-size: 160%;
		letter-spacing:0.5px;
		padding: 0.3125em;
		text-shadow: 1px 1px 1px #f4f4f4;
}

	div.module h2, div.module h3 {
		background-position: 0 100%;
		background-repeat: repeat-x;
		color: #666666;
		font-weight: normal;
		line-height: 1;
		margin: 0;
		white-space: nowrap;
   
   
   
/*------------- START OF MODULE STYLING ----------------*/

}

	div.module div {
		width: 270px;
		-moz-border-bottom-colors: none;
		-moz-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		background-color: #F4F4F4;
		border-color: #DDDDDD #EEEEEE #FFFFFF;
		border-style: solid;
		border-width: 1px;
		border-radius: 4px 4px 4px 4px;
		
    
    
}

	div.module div.module {
		border: none;
}


body:last-child form > div:first-child {
    background-color: #F4F4F4;
    padding: 1em;

}