/* @override 
	http://127.0.0.1:8000/static/haruka_theme/css/custom.css
	http://10.0.1.4:8888/static/haruka_theme/css/custom.css
*/

body {
		background:  url("../images/backgroundwhite.png") repeat-x fixed #B1DEEA;
		color: #333333;
		font: 9pt/1 "Helvetica","Arial";
		margin-top: 70px;
		padding: 0;
    
}

#inner {
		padding: 1em;
		position: relative;
        z-index = 0;
        min-height: 500px;
		top: -35px;
	}
	
	div.well.registration {
		padding-bottom: 6px;
		margin-bottom: 2px;
		width: 340px;
	}
	
	ul {
		list-style-type: none;
	}

	
/*--------------- START OF HEADER -----------------*/

    #spacer {
        top: 0px;
        left: 0px;
        height: 78px;
        width: 100%;
        background-color: #ffffff;
        z-index: 5;
        position: fixed;
        opacity: 5; 
    }

	#header {
		background: url("") repeat-x scroll 0 0 transparent;
		color: #CCCCFF;
		padding-bottom: 2px;
		position: fixed;
        width: 80em;
        height: 7px;
        background: #fff;
        margin: 0 auto 0 auto;
        z-index: 10;
		/*
		box-shadow: 0px 0px 2px #aaa;
        -moz-box-shadow: 3px 3px #575757;
        -webkit-box-shadow: 3px 3px #575757;
		
		-moz-box-shadow: 4px 0px 8px #575757;
		-webkit-box-shadow: 4px 0px 8px #575757;
		*/
		box-shadow: 0px 0px 6px #aaa;
        -moz-border-radius-topright: 1em;
        -moz-border-radius-topleft: 1em;
        -webkit-border-radius: 1em 1em 0 0;
        top: 47px;
	}

#inner div.row div.well.span7 form.buttons {
	margin-bottom: 2px;
	position: relative;
	top: -12px;
}

#inner div.row div.well.span7 form.buttons div.form-action a.btn.danger {
	top: -54px;
}

#tabs{
        height: 20px; 
        width: 510px; 
        margin-right: 0px; 
        top: -33px;
        left: 440px;
    }
	
	#tabs li.app-contacts a {
		width: 45px;
	}

	
	#branding {
		padding: 0 10px;
	
}

    #branding h1 {
        background: url("");
        height: 0px;
        color: #fff;
        margin: 0;
}

	#branding h1 a {
		background: url("../images/harukasms.png") no-repeat scroll 0 50% transparent;
		display: block;
		float: left;
		height: 70px;
		width: 250px;
		position: relative;
		top: -64px;
		left: 13px;
	}

#inner div.row div.well.span7 form.buttons div.form-action a.btn.danger {
	height: 16px;
	
}

#inner table.condensed-table thead tr th.poll_submissions {
	border-bottom: 1px solid #DDDDDD;
}

th.poll_submissions {
	width: 100px;
}

#quick-SMS-btn{
	position: relative;
	top: 10px;
	left: 250px;
}


#header #auth a {
    color: #0069D6;
	margin-right: 24px;
}

li.alert-message.success {
	margin-top: 0;
	top: 30px;
	right: 9px;
	z-index: 0;
}

li.alert-message.info {
	margin-top: 0;
	top: 30px;
	right: 9px;
	z-index: 0;
}

li.alert-message.danger {
	margin-top: 0;
	top: 30px;
	right: 9px;
	z-index: 0;
}

#header #auth {
	color: ##0069D6;
    font-size: 100%;
    line-height: 22px;
    margin: 0 10px;
    position: absolute;
    right: 0;
    top: -66px;
    
}

/*------------------- END OF HEADER ---------------------*/


/*--------------- START OF MAIN NAVIGATION -----------------*/

#inner div.row div.span7 div.well form div div.field.bulk label {
	height: 10px; 
	width: 92px;
	position: relative;
	top: -23px;
	right: 33px;
}



#tabs,
    #page-tabs {
        -webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		border-radius-top-right: 0px;
		-moz-transition: opacity 0.2s ease 0s;
		-webkit-transition: opacity 0.2s ease 0s;
		background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.1) 50%, transparent 50%);
		background-image: -webkit-linear-gradient(center top , rgba(255, 255, 255, 0.1) 50%, transparent 50%);
		background-image: -o-linear-gradient(center top , rgba(255, 255, 255, 0.1) 50%, transparent 50%);
		background-image: -ms-linear-gradient(center top , rgba(255, 255, 255, 0.1) 50%, transparent 50%);
		background-image: linear-gradient(center top , rgba(255, 255, 255, 0.1) 50%, transparent 50%);
    	background-color: #999999;
        position: absolute;
        height: 50px;
        bottom: 0;
        padding: p;
        margin: 0;
        margin-right: 30px;
        
	}
	
	#tabs { right: 0; }
    #page-tabs { left: 0;  }

        #tabs li,
        #page-tabs li {
            display: block;
            float: left;
            line-height: 20px;
           
        }

        #tabs li { margin-right: 0px; }
        #page-tabs li { margin-left: 0px; }

            #tabs li a,
            #page-tabs li a {
                color: #fff;
                display: block;
                padding: 0 1em;
                background: url("");
                border-right: 1px solid #f5f5f5;
                border-left: 1px solid #f5f5f5;
                outline: none;
                height: 20px;
                padding: 15px;
                opacity: 0.9;
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
			
			}
			
			#tabs li.app-contacts a {
				border-right:none;
			}
			
			#tabs li.unread a span {
                display: block;
                padding-right: 21px;
                background: url("");
            }

            #tabs li.active a,       #page-tabs li.active a,
            #tabs li.active a:hover, #page-tabs li.active a:hover,
            #tabs li.active a:focus, #page-tabs li.active a:focus {
			
                background: #fff url("") repeat-x;
                text-decoration: none;
                text-shadow: none;
                color: #000;
                opacity: 0.5;
                border: none;
                border-bottom: 0;
                margin-top: 0px;
            }

            #tabs li a:hover, #page-tabs li a:hover,
            #tabs li a:focus, #page-tabs li a:focus {
				
                background-color: #fff;
                color: #000;
                opacity: 0.7;
                background-image: url("");
                text-shadow: #cef1f5 0 0 2px;
                text-decoration: none;
                
/*--------------- END OF MAIN NAVIGATION -----------------*/

}

#wrapper {
    width: 80em;
    background: #fff;
    margin: 0.5em auto 0 auto;
   
    -moz-box-shadow: 4px 4px 8px #575757;
    -webkit-box-shadow: 4px 4px 8px #575757;
    box-shadow: 0px 2px 6px #aaa;
    -moz-border-radius-bottomright: 1em;
    -moz-border-radius-bottomleft: 1em;
    -moz-border-radius-topright: 1em;
    -moz-border-radius-topleft: 1em;
    -webkit-border-radius: 1em;
}

/*--------------- START OF FOOTER -----------------*/

#footer {
    border-top: 0px;
    padding: 0.5em;
    clear: both;
    color: #fff;

    /* reserve space for at two lines of links @ LH=1.4 (for the
     * copyright and licensing/download info) */
    min-height: 2.8em;
}

    #footer .footer-region {
        margin-top: 1.4em;
        line-height: 1.4;
        opacity: 0.25;
        float: left;
    }

        #footer .footer-region:hover {
            opacity: 1; }

        #footer .footer-region a            { margin-right: 0.5em; }
        #footer .footer-region a:last-child { margin-right: 0; }


    #footer p.rights {
        text-align: right;
        float: right;
        margin: 0;
   }
    
    
 /*------------- START OF MODULE HEADER ----------------*/

.review {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 19px;
  min-height: 20px;
 
}
    
	div.module h2 {
		background-color: #FFFFFF;
		background-image: url("");
		font-size: 160%;
		letter-spacing:0.5px;
		padding: 0.3125em;
		text-shadow: 1px 1px 1px #f4f4f4;
}

	div.module h2, div.module h3 {
		background-position: 0 100%;
		background-repeat: repeat-x;
		color: #666666;
		font-weight: normal;
		line-height: 1;
		margin: 0;
		white-space: nowrap;
    
}

div.module div {
		-moz-border-bottom-colors: none;
		-moz-border-image: none;
		-webkit-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		border-color: #DDDDDD #EEEEEE #FFFFFF;
		border-style: none;
		border-width: 1px;
		border-radius: 4px 4px 4px 4px;
		-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 4px 4px 4px 4px;
}

div.module div.module {
		border: none;
}

body:last-child form > div:first-child {
    background-color: transparent;
    
}

 /*------------- START OF TABLE STYLING ----------------*/
 
 #id_bulk {
 	position: relative;
	 top: -44px;
	 left: 80px;
 }
 
 thead th {
    background: url("");
    color: none;

}


#5 tbody tr td.field_options_col a img {
	position: relative;
	left: 50px;
}


#sortable {
	width: 865px;

}

#form_bulk_send form div.well.SMS-review div.tally center table tbody tr td.col_m {
	padding: 0;
}

thead th a:hover {
    background-image: url("");
    color: none;
    
 }
 
 thead th a, thead th span.unsortable {
    border-left: 0 solid #F8F8F8;
    display: block;
    margin: -0.5em;
    outline: 0 none;
    padding: 0.5em;
    position: relative;
    
}

 thead th.asc  a span { background-image: url(""); }
 thead th.desc a span { background-image: url(""); }
 
   tfoot {
        background: url("") repeat-x 0 0;
        font-size: none;
    }
 

tr.row_rez.row_rez_final td {
    background: none repeat scroll 0 0;
 
 }

/*------------- START OF CSS FORM OVERRIDES  ----------------*/

body:last-child h2 + form {
    background-color: #FFFFFF;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: opx;
    border-top: 0 none;
    padding: 0;

}


form div.submit {
    background: url("");
    border:none;
	position: relative;
	top: -48px;
	right: 0;
	left: 0;
}

div.well.bulk {
	width: 380px;
	position: relative;
	margin-bottom: -1px;
	left: 18px;
	height: 0;
}

#inner form div.row div.span3.offset4 blockquote small {
	width: 330px;
}

table#cost-calculator {
	position: relative;
	top: -104px;
}


#inner div.well.quick_SMS {
	width: 300px;
	position: relative;
}

#inner div.well.quick_SMS form.sender-form {
	position: relative;
	width: 314px;
	left: -12px;
	margin-bottom: 1px;
}

input#id_recipient {
	margin-bottom: 12px;
}


div.data-box {
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	padding: 15px 15px 0;
}

#form_bulk_send form div.well {
	background-color: #f2f1f1;
	position: relative;
	left: 200px;
	width: auto;
	padding-top: 16px;
}

#cost-calculator thead tr th {
	padding-bottom: 7px;
	width: 3px;

}


input.btn.primary.bulk {
	position: relative;
	left: 166px;
}


form div.field p.help {
    border-left: none;
    color: #AAAAAA;
    font-size: 80%;
    margin-left: -1em;
    margin-top: 0;
    max-width: 30em;
    padding-left: 0.3125em;
    padding-top: 2px;
	display: none;
}


form div.field label {

    color: #404040;
    font-size: 13px;
    margin-bottom: 0.5em;
    
}


#hint_id_active {
	padding: 2px;
	width: 190px;
}


/*-----------------BULK MESSAGING STYLING OVERRIDES-------------------*/

label {
    color: #404040;
    float: none;
    font-size: 12px;
    line-height: 18px;
    padding-top: 6px;
    text-align: left;
    width: auto;
}

#c_count {
	color: #6699CC;
	font-weight: bold;

}

#cost-calculator tbody tr td {
	padding-top: 6px;
	color: #404040;
	width: 50px;
}

input.btn.large.primary.send-SMS {
	position: relative;
	left: 227px;
	top: -19px;
}

#inner form div.row div.span4.offset4 blockquote small {
	display: none;
}

#inner form div.row div.span4.offset4 {
	top: 95px;
	position: relative;
}

#inner form div.row div.span4.offset4 h4 {
	margin-top: 14px;
}

#inner form div.row div.span4.offset4 div.well {
	position: relative;
	left: 40px;
}

div.well.SMS-message {
	width: 383px;
	position: relative;
	top: -9px;
}

textarea#message {
	width: 373px;
	height: 130px;
}

div.well.bulk {
	
}

td#c_count.col_1 {
	width: 105px;
}

#sms_count {
	color: #6699CC;
	padding-top: 18px;
	font-weight: bold;

}

#msg_price {
	color: #6699CC;
	padding-top: 18px;
	font-weight: bold;
	
}
#sms_length {
	color: #6699CC;
	padding-top: 18px;
	font-weight: bold;
}

.msg_input textarea {
    height: 90em;
    
}
textarea {
	height: 161px;
    width: 290px;
}
.row {
    margin-left: -2px;
}


#form_bulk_send {
	width:600px;
	
}
	


/*-----------------BULK REVIEW STYLING-------------------*/

tr.row_section td {
    background: none;
    
    
}

.paginator {
	position: absolute;

}

#contact_list {
	height: 530px; 
	
}

/*-----------------DIV REPLACEMENTS POLLING -------------------*/


.add_category_header {
    background-color: none
    color: none;
    padding-bottom: none;
    padding-left: none;
    padding-top: none;

}

#div_id_default_response_luo {
	
	visibility: collapse;
	overflow: hidden;
}


#div_id_question_luo {
	visibility: collapse;

}

#div_id_contacts {
	visibility: collapse;
	
}

#newForm1 {
	margin-left:140px;
	width:  600px;
	background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    padding: 19px;
    padding-left: 50px;
    height: 680px;
    
}

#newForm2 {
	margin-left:140px;
	width:  600px;
	background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    padding: 19px;
    padding-left: 50px;
    height: 770px;
    
}

.uniForm .ctrlHolder {
    border-bottom: none;
    margin: 7px;
    
	
}

div#field_box_2.field_box {
	border: none;
}

.uniForm .focused {
	background-color: #DDF4FB;
    border-color: #C6EDF9;
    
}

#field_box_3 {
	border: none;
}

#field_box_4 {
	border: none;
}

#field_box_5 {
	border: none;
}

#field_box_6 {
	border: none;
}

#field_box {
	border: none;
}


.uniForm textarea, .uniForm .blockLabels textarea {
    height: 2em;
    width: 53%;
 
 }

/*-----------------DIV REPLACEMENTS DATA COLLECTION -------------------*/

}

.uniForm .formHint, .uniForm .blockLabels .formHint {
    color: #777777;
    font-size: 0.9em;
    margin-right: 4px;
    
}

div#hint_id_keyword.formHint {
	padding: 2px;
	width: 190px;
}

div#hint_id_description.formHint {
	padding: 2px;
	width: 190px;
}

div#hint_id_response.formHint {
	padding: 2px;
	width: 190px;
}

div#hint_id_restrict_to.formHint {
	padding: 2px;
	width: 190px;
}

div#hint_id_restrict_message.formHint {
	padding: 2px;
	width: 190px;
}


#div_id_keyword_prefix {
	visibility:hidden;
	
}

#div_id_start_immediately {
	position: relative;
	top:-160px;
}

#div_id_default_response {
	position: relative;
	top:-80px
	
}

#div_id_groups {
	position: relative;
	top:-270px
}

#div_id_command_prefix {
	visibility:hidden;
	
}

#div_id_separator {
	visibility:hidden;

}

#id_description {
	height: 2em;
	width: 53%;
}

#div_id_restrict_to {
	position:relative;
	top:-200px;
}

#div_id_restrict_message {
	position:relative;
	top:-190px;	
}

.form_fields_cell {
	background-color: #ffffff;
	text-align: right;
}

.add_field_header {
    color: white;
	line-height: 18px;
    padding: 5px 10px;
    text-align: left;
    background-color: #FFF;
    color: #404040;
}

#new_field_box {
    background-color: white;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 0;
    width: 858px;
    /*margin-left:20px;*/

}

#button.positive, .buttons a.positive {
    background-color: #FFF;
    border: none;
    color: none;

}

#id_command {
	width: 60px;
}
 
 
/*-----------------DIV REPLACEMENTS GROUP SELECTION -------------------*/

.selector-available h2 {
	font-color: #404040;
	
}

.selector {
	margin-top: -1px;
	width: 410px;
	height: 368px;
	position: relative;
	top: -4px;
}


#inner div.row div.well.span7 form.buttons p.group_field_contacts span.field div.selector div.selector-available h2 {
	font-size: 13px;
	margin-bottom: -5px;
}

#inner div.row div.well.span7 form.buttons p.group_field_contacts span.field div.selector div.selector-chosen h2 {
  font-size: 13px;
  color: #666666;
  margin-bottom: -10px;
}


#inner div.row div.well.span7 form.buttons p.group_field_contacts span.field div.selector div.selector-available p.selector-filter label {
	position: relative;
	top: 26px;
	left: 153px;
}

#inner div.row div.well.span7 form.buttons p.group_field_contacts span.field div.selector div.selector-available p.selector-filter {
	margin-top: -23px;
}

#inner div.row div.well.span7 form.buttons p.group_field_contacts span.field div.selector div.selector-chosen p.selector-filter img {
	position: relative;
	top: 4px;
	left: 12px;
}

#inner div.row div.well.span7 form.buttons p.group_field_contacts span.field div.selector div.selector-chosen p.selector-filter {
	position: relative;
	top: 0;
}

select#id_contacts_to.filtered {
	position: relative;
	top: -14px;
	height: 175px;
}

ctrlHolder {
    border-bottom: 0px;
    padding: 7px;

}

.selector .selector-available h2 {
    background: none;	


}

.selector-filter id_contacts_to {
    height: 17.2em;
    width: 180px;
    
}
    
.group_field_name {
	margin-left: 30px;
	padding-bottom:6px;
	padding-top: 6px;
}

#inner div.row div.well.span7 form.buttons p.group_field_desc {
	padding-bottom: 5px;
	display: none;
}

.selector-available, .selector-chosen {
    float: left;
    margin-bottom: 5px;
    text-align: center;
    width: 180px;
    
}

#inner div.row div.well.span7 form.buttons p.group_field_contacts span.field div.selector div.selector-chosen a.selector-clearall {
	position: relative;
	top: -16px;
}

#inner div.row div.well.span7 form.buttons p.group_field_contacts span.field div.selector {
	height: 330px;
}

.selector .selector-available h2 {
    background: none;
    color: none;
    
}

.selector-available h2, .selector-chosen h2 {
    border: none;
    font-size: 16px;
    color: #404040;
    font-weight: bold
    
 }
 
 .selector select {
 	width: 180px;
	 height: 175px;
 }

.selector .selector-available input {
    width: 180px;
  
}
 
 .selector .selector-filter {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -webkit-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     background: none;
     border-color: none;
     border-style: none;
     border-width: none;
     color: none;
     font-size: 10px;
     margin: 0;
     padding: 0 0 0 4px;
     text-align: left;
     
 }
 
 #inner div.row div.well.span7 form.buttons p.group_field_contacts span.field div.selector div.selector-chosen p.selector-filter {
 	position: relative;
	 top: 6px;
 }
 
 #id_contacts_input {
	padding-left: 0px;
	width: 173px;
	margin-left: -3px;
	margin-bottom: 8px;
}

#id_contacts_to {
	margin-top: 30px;
}

.selector ul.selector-chooser {
    background: none;
}

/*-----------------CSS STYLING FOR CONTACT MANGEMENT -------------------*/


#inner div.row div.well.span7 form.buttons div.form-action input.btn.primary {
	float: right;
	position: relative;
	right: 10px; 

}

#inner div.row div.well.span7 form.buttons div.form-action a.btn.danger {
	position: relative;
	left: 205px;
}

#inner div.well form.buttons div.form-action input.btn.danger {;
	right: 10px; 
	
}

#inner div.well form.buttons div.form-action input.btn {
	position: relative;
	left: 455px; 
	top: 20px;

}

#reg-well {
	height: 343px;
}

#inner div.row div.well.span7 form.buttons div.form-action input.btn.primary {
	position: relative;
	left: -10px; 
	top: -54px;	
	height: 29px;
}

#inner div.well form.buttons div.form-action a.btn {
	left: 451px;
	position: relative;
	top: 20px;
}

#closePollForm a.btn {
	float: right;
	margin-right: 11px;
}

#startPollForm a.btn.success {
	margin-right: 10px;
	float: right;
	right: 0;
}

#poll_header div a.btn {
	position: relative;
	margin-right: 17px;
	left: 4px;
	float: right;
}

#hint_id_name {
	visibility:hidden

}

#form_header div a.btn {
	float: right;
	margin-right: 10px;
}


#inner form.form table.condensed-table thead tr th.response_categories_col {
	border-bottom: 1px solid #dfdfdf;
}

#field_box_1 {
	border:none;
}

#newForm div a.btn.primary {
	position: relative;
	top: 0;
}

div.field_box {
	border: none;
}

img#download-activity {
    float: left;
    margin-left: 140px;
    margin-top: -28px;
}

img#download-contacts {
    float: left;
    margin-left: 80px;
    margin-top: -28px;
}

#inner div.row div.span7 div.well form.zebra-striped div.submit {
	position: relative;
	top: 30px;
	left: 0px;

}

.poll-buttons{
	padding-top:1px;
	width: 200px;
	position: relative;
	left: 153px;
	top: -221px;
	
}

.form-buttons{
	width: 200px;
	position: relative;	
	top: -150px;
	left: 150px;
	
}

div.status-lights {
	display: inline-block;
	width: 40px;
	height: 10px;
	position: relative;
	top: -40px;
	right: -150px;
}

#status_red{
	color: red;
}
#status_green{
	color: green;
}

div.well.span7 {
	height: 400px;
	width: 390px;
}

#auth a i.icon-signout.icon-large {
	color: #888888;
}

#auth a i.icon-signout.icon-large:hover {
	color: #038ad6;
	text-decoration: none;
}


#inner div.row div.span7 div.well form div {
	position: relative;
	left: 7px;
}

#groups-create{
	margin-left:20px; 
	margin-top:45px; 
	width: 400px;
}

h4#group-list {
	position: relative;
	margin-top: -35px;
}

#inner div.row div.well.span7 form.buttons p.group_field_contacts span.field div.selector {
	border-top:1px solid #e5e4e4;
	padding-top: 2px;
	padding-bottom: 1px;
}

#bulk_upload{
	margin-top: 45px
	
}

#inner div.row div.span7 div.well.registration  {
	height: 239px;
}

div.well.bulk_registration {
	height: 70px;
}

#inner div.row div.span7 div.well.registration form div {
	height: 0px;
	margin-top: 0px;
}

span#description_padding {
	padding-right: 23px;
}

#inner div.row div.span7 div.well.registration form.registration_contacts div label {
	margin-top: 38px;
	width: 2px;
	margin-left: -63px;
	position: relative;
	top: 28px;
	margin-right: 0;
	left: -4px;
}

input.btn.primary.contacts {
	position: relative;
	top: 205px;
	left: 120px;
}

input.btn.danger.contacts {
	position: relative;
	top: 205px;
	left: -120px;
}

div.field.bulk {
	background: transparent;
}

form.registration_contacts {
	position: relative;
	left: 28px;
}

#inner div.row div.span7 div.well.registration form.registration_contacts div {
	top: -36px;
	background: transparent;
	left: 13px;
}

.dashboard{
	 margin-left:20px;
}

#bulk-SMS{
	margin-left: 15px; 
	margin-top: 45px;
	
}

#SMS-help small {
	width: 400px;
}


.phone-count {
   width: 60px; 
   height: 25px; 
   background: #A6CF44;
   position: absolute;
   -moz-border-radius: 5px; 
   -webkit-border-radius: 5px; 
   border-radius: 4px;
   text-align: center;
   color: #fff;
   line-height: 24px;
   margin-top: 5px;
   margin-left: 45px;
}
.phone-count:before {
   /*content:"";*/
   position: absolute;
   width: 0;
   height: 0;
   border-top: 5px solid transparent;
   border-right: 10px solid #A6CF44;
   border-bottom: 5px solid transparent;
   margin: 7px 0 0 -8px;
 
}

.cell-phone{
	background: url(../images/cell.png) no-repeat 17px 2px;
	height: 37px;
	text-align: left;
}

h4#cost-calc {
	margin-left: -33px;
}

#inner div.row div.span6 div.well.quick_SMS form.sender-form label {
	padding-top: 0;
	margin-right: 34px;
	font-size: 13px;
}

#activity-margins{
	position: relative;
	left: 15px;
	width: 535px;
	top: 45px;
}

#quick-SMS-h4{
	margin-top: 45px;
	margin-left: 15px;
}

#inner div.row div.span6 div.data-box table.condensed-table thead tr th.poll_submissions {
	font-size: 12px;
}

#inner div.row div.span6 div.data-box table.condensed-table thead tr th.poll_name_col {
	font-size: 12px;
}

.header-space{
	margin-top: 45px;
	margin-left: 15px;
}

#header-space-review{
	margin-top: 45px;
	margin-left: 200px;
}

#form_bulk_send form div.well.SMS-review div.tally table {
	margin: 0px;
	width: 300px;
	position: relative;
	left: 107px;
	top: -24px;
}

input.btn.large.danger.SMS-Send {
	position: relative;
	left: 198px;
	top: -13px;
}

#form_bulk_send form div.well.SMS-review div.tally div {
	position: relative;
	top: -22px;
}

td.display-none,
th.display-none {
	display: none;
}






/* Trying to override the admin */

.selector-add {
    background: url(../images/admin/selector-add.png) top center no-repeat;
    margin-bottom: 2px;
}

.selector-remove {
    background: url(../images/admin/selector-remove.png) top center no-repeat;
}

a.selector-chooseall {
    width: 7em;
    background: url(../images/admin/selector-addall.png) left center no-repeat;
}

a.selector-clearall {
    background: url(../images/admin/selector-removeall.png) left center no-repeat;
}


/* Styles from templates */

/* poll_edit.html */
#poll_header .name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 17px;
}

/* loggedout.html */
#logout-centre {
	width: 500px;
	margin-left:306px;
	margin-top:207px;
	padding-bottom:200px ;
}

/* login.html and splash.html */
#logo-centre {
	width: 500px;
	margin-left:500px;
	margin-top:0px;
}