/* @override 
	http://127.0.0.1:8000/static/haruka_theme/css/custom.css */


	body {
		background:  url("../images/backgroundwhite.png") repeat-x #B1DEEA;
		color: #333333;
		font: 9pt/1 "Helvetica","Arial";
		margin-top: 70px;
		padding: 0;
    
}

	#inner {
		padding: 1em;
		position: relative;
}

/*--------------- START OF HEADER -----------------*/

	#header {
		background: url("") repeat-x scroll 0 0 transparent;
		color: #CCCCFF;
		padding-bottom: 2px;
		padding-top: 23px;
		position: relative;
    
}

	#branding {
		padding: 0 10px;
	
}

    #branding h1 {
        background: url("");
        height: 0px;
        color: #fff;
        margin: 0;
}

	#branding h1 a {
		background: url("../images/harukasms.png") no-repeat scroll 0 50% transparent;
		display: block;
		float: left;
		height: 70px;
		width: 250px;
		margin-left: 17px;
		margin-top: -71px;
}

#header #auth a {
    color: #0069D6;
}

#header #auth {
	color: ##0069D6;
    font-size: 100%;
    line-height: 22px;
    margin: 0 10px;
    position: absolute;
    right: 0;
    top: -66px;
    
}

/*------------------- END OF HEADER ---------------------*/


/*--------------- START OF MAIN NAVIGATION -----------------*/


    #tabs,
    #page-tabs {
        -webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		-moz-transition: opacity 0.2s ease 0s;
		background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.1) 50%, transparent 50%);
    	background-color: #999999;
        position: absolute;
        height: 57px;
        bottom: 0;
        padding: 0;
        margin: 0;
        margin-right: 30px;
        
    }

    #tabs { right: 0; }
    #page-tabs { left: 0;  }

        #tabs li,
        #page-tabs li {
            display: block;
            float: left;
            line-height: 28px;
           
        }

        #tabs li { margin-right: 0px; }
        #page-tabs li { margin-left: 0px; }

            #tabs li a,
            #page-tabs li a {
                color: #fff;
                display: block;
                padding: 0 1em;
                background: url("");
                border-right: 1px solid #f5f5f5;
                border-left: 1px solid #f5f5f5;
                outline: none;
                height: 27px;
                padding: 15px;
                opacity: 0.9;
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
                
            }

            #tabs li.unread a span {
                display: block;
                padding-right: 21px;
                background: url("");
            }

            #tabs li.active a,       #page-tabs li.active a,
            #tabs li.active a:hover, #page-tabs li.active a:hover,
            #tabs li.active a:focus, #page-tabs li.active a:focus {
			
                background: #fff url("") repeat-x;
                text-decoration: none;
                text-shadow: none;
                color: #000;
                opacity: 0.5;
                border: none;
                border-bottom: 0;
                margin-top: 0px;
            }

            #tabs li a:hover, #page-tabs li a:hover,
            #tabs li a:focus, #page-tabs li a:focus {
				
                background-color: #fff;
                color: #000;
                opacity: 0.7;
                background-image: url("");
                text-shadow: #cef1f5 0 0 2px;
                text-decoration: none;
                
/*--------------- END OF MAIN NAVIGATION -----------------*/

}

#wrapper {
    width: 80em;
    background: #fff;
    margin: 0.5em auto 0 auto;
   
    -moz-box-shadow: 4px 4px 8px #575757;
    box-shadow: 0px 2px 6px #aaa;
    -moz-border-radius-bottomright: 1em;
    -moz-border-radius-bottomleft: 1em;
    -moz-border-radius-topright: 1em;
    -moz-border-radius-topleft: 1em;
}

/*--------------- START OF FOOTER -----------------*/

#footer {
    border-top: 0px;
    padding: 0.5em;
    clear: both;
    color: #ccc;

    /* reserve space for at two lines of links @ LH=1.4 (for the
     * copyright and licensing/download info) */
    min-height: 2.8em;
}

    #footer .footer-region {
        margin-top: 1.4em;
        line-height: 1.4;
        opacity: 0.25;
        float: left;
    }

        #footer .footer-region:hover {
            opacity: 1; }

        #footer .footer-region a            { margin-right: 0.5em; }
        #footer .footer-region a:last-child { margin-right: 0; }


    #footer p.rights {
        text-align: right;
        float: right;
        margin: 0;
   }
    
    
 /*------------- START OF MODULE HEADER ----------------*/

.review {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 19px;
  min-height: 20px;
 
}
    
	div.module h2 {
		background-color: #FFFFFF;
		background-image: url("");
		font-size: 160%;
		letter-spacing:0.5px;
		padding: 0.3125em;
		text-shadow: 1px 1px 1px #f4f4f4;
}

	div.module h2, div.module h3 {
		background-position: 0 100%;
		background-repeat: repeat-x;
		color: #666666;
		font-weight: normal;
		line-height: 1;
		margin: 0;
		white-space: nowrap;
    
}

	div.module div {
		-moz-border-bottom-colors: none;
		-moz-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		border-color: #DDDDDD #EEEEEE #FFFFFF;
		border-style: none;
		border-width: 1px;
		border-radius: 4px 4px 4px 4px;
    
    
}

	div.module div.module {
		border: none;
}

body:last-child form > div:first-child {
    background-color: #f5f5f5;
    padding: 0em;

}

 /*------------- START OF TABLE STYLING ----------------*/

thead th {
    background: url("");
    color: none;

}

thead th a:hover {
    background-image: url("");
    color: none;
    
 }
 
 thead th a, thead th span.unsortable {
    border-left: 0 solid #F8F8F8;
    display: block;
    margin: -0.5em;
    outline: 0 none;
    padding: 0.5em;
    position: relative;
    
}

 thead th.asc  a span { background-image: url(""); }
 thead th.desc a span { background-image: url(""); }
 
   tfoot {
        background: url("") repeat-x 0 0;
        font-size: none;
    }
 
 div.form_bulk_send table td {
    border: 0 none;
    padding: 0.4em;
    width: 70px;
}

tr.row_rez.row_rez_final td {
    background: none repeat scroll 0 0;
 
 }

/*------------- START OF CSS FORM OVERRIDES  ----------------*/

body:last-child h2 + form {
    background-color: #FFFFFF;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: opx;
    border-top: 0 none;
    padding: 0;

}


form div.submit {
    background: url("");
    border-top: none;
    margin: 0;
    padding: 0;
    
}


form div.field p.help {
    border-left: none;
    color: #AAAAAA;
    font-size: 80%;
    margin-left: 0.625em;
    margin-top: 0;
    max-width: 30em;
    padding-left: 0.3125em;
    padding-top: 2px;
    
}
 
form div.field label {

    color: #404040;
    display: block;
    float: left;
    font-size: 13px;
    line-height: 18px;
    padding-top: 6px;
    text-align: right;
    width: 100px;
    display: block;
    margin-bottom: 0.5em
    text-align: left;
    width: 75px;
    padding-right: 10px;
    
}

/*-----------------BULK MESSAGING STYLING OVERRIDES-------------------*/

label {
    color: #404040;
    float: left;
    font-size: 12px;
    line-height: 18px;
    padding-top: 6px;
    text-align: left;
    width: auto;
}

#c_count {
	color: #6699CC;
	padding-top: 18px;
	alignment-baseline: central;
	font-weight: bold;
	font-size: 24px;
}

#sms_count {
	color: #6699CC;
	padding-top: 18px;
	font-weight: bold;
	font-size: 24px;
}

#msg_price {
	color: #6699CC;
	padding-top: 18px;
	font-weight: bold;
	font-size: 24px;
	
}
#sms_length {
	color: #6699CC;
	padding-top: 18px;
	font-weight: bold;
	font-size: 24px;
}

.msg_input textarea {
    height: 90em;
    
}
textarea {
	height: 161px;
    width: 290px;
}
.row {
    margin-left: -2px;
}

/*-----------------BULK REVIEW STYLING-------------------*/

tr.row_section td {
    background: none;
}

.paginator {
	position: absolute;

}

#contact_list {
	height: 530px; 
	
}

/*-----------------DIV REPLACEMENTS POLLING -------------------*/


#div_id_default_response_luo {
	
	visibility:hidden;
	height:0px;
	
}

#div_id_question_luo {
	visibility:hidden;
	height:0px;
}


#div_id_contacts {
	visibility:hidden;
	height:0px;
	
}

#newForm {
	width:600px;
	margin-left:20px;
	height: 605px;
	margin-top:0px;
	background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}

.uniForm .ctrlHolder {
    border-bottom: 0px solid #DFDFDF;
    padding: 7px;
}

.uniForm .focused {
	background-color: #DDF4FB;
    border-color: #C6EDF9;
}

#div_id_default_response {
	position:relative;
	top:-66px;
}

#div_id_start_immediately {
	position:relative;
	top:-125px;
	
}

#div_id_groups {
	position:relative;
	top:0px;
	top:-138px;
	
}

#div_id_name {
	position:relative;
	top:-14px;
}

#div_id_question {
	position:relative;
	top:-10px;
}

.uniForm fieldset {
	height: 605px;
}

.uniForm textarea, .uniForm .blockLabels textarea {
    height: 2em;
    width: 53%;
 
 }

/*-----------------DIV REPLACEMENTS DATA COLLECTION -------------------*/


#div_id_keyword_prefix {
	visibility:hidden;
	
}

#div_id_command_prefix {
	visibility:hidden;
	
}

#div_id_separator {
	visibility:hidden;
}

#id_description {
	height: 2em;
	width: 53%;
}

#div_id_restrict_to {
	position:relative;
	top:-910px;
}

#div_id_restrict_message {
	position:relative;
	top:-900px;	
}

.form_fields_cell {
	background-color: #ffffff;
}

.add_field_header {
    color: white;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    line-height: 18px;
    padding: 10px 10px 9px;
    text-align: left;
}

#new_field_box {
    background-color: white;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 0;
    width: 858px;
    margin-left:20px;

}    