{% extends "polls/layout.html" %}
{% block title %}Polls{% endblock %}

{% block content %}

{% load uni_form_tags %}
{% load forms_tags %}
<form action="{% url poll.views.new_poll %}" method="post" class="uniForm" id="newForm">
<fieldset>
{{ form|as_uni_form }}
<div style="float:left;margin-bottom:10px; margin-top:-120px; margin-left:154px;">
  <a href="{% url polls %}" class="btn">
    Cancel
  </a>
  <a onclick="$('#newForm').submit();" href="javascript:void(0);" class="btn primary" style='margin-top:-120px'>
    Create Poll
  </a>
</div>

</fieldset>
{% csrf_token %}
</form>

{% endblock %}
