<style>

.uniForm .ctrlHolder {
    border-bottom: none;
    padding: 7px;
}

.uniForm .formHint, .uniForm .blockLabels .formHint {
    color: #777777;
    font-size: 0.9em;
    padding-left: 0;
    padding-top: 1px;
    position: relative;
    top: 0;
    width: 39%;
    left:  -3px;
}

#form_header {
    color: #666666;
    margin-bottom: 15px;
    margin-left: 8px;
    height: 650px;
}

.uniForm {
  height: 650px;
    
}

</style>

<div class="name">Edit '{{xform.name}}'</div>
{% load forms %}

<form action="/xforms/{{xform.pk}}/edit/" method="post" class="uniForm">
{% csrf_token %}
{{ form|render_layout }}

<div class="buttons" style="position: relative; top: -112px; left: 252px;">
  <div class='btn danger' onclick="showFormDetails('{{xform.pk}}');" href="javascript:void(0);" class="negative">
    Cancel
  </div>
  <div class='btn primary' onclick="submitForm(this, '#form_header');" href="javascript:void(0);">
    Save Form Details
  </div>
</div>

</form>

