{% extends "xforms/layout.html" %}
{% block title %}Data Collection{% endblock %}

{% block content %}
{% load forms %}

<div id="form_header">
<div><h4 style='margin-top:45px; margin-left:150px;'>Data Collection</h4><blockquote style='margin-left:150px;'><small> For more data intensive survey work design a SMS survey with keywords and multiple answers.</small></blockquote></div>
</div>

<form action="/xforms/new/" method="post" class="uniForm" id="newForm">
{% csrf_token %}
{{ form|render_layout }}

<div style="float:left;margin-bottom:10px;margin-top:-75px; margin-left:150px;">
  <a class='btn' href="/xforms/">
    Cancel
  </a>
  <a onclick="$('#newForm').submit();" href="javascript:void(0);" class="btn primary">
    Create Form
  </a>
</div>
</form>

{% endblock %}
