 <div class="buttons">
    <a onclick="editFormDetails('{{xform.pk}}');" href="javascript:void(0);">
        <img src="{{ MEDIA_URL }}rapidsms_xforms/icons/silk/pencil.png" alt=""/> 
        Edit
    </a>
    <a href="/xforms/odk/get/{{ xform.pk }}/">
        <img src="{{ MEDIA_URL }}rapidsms_xforms/icons/silk/application_form.png" alt=""/> 
        XForm
    </a>
    </div>

    <div class="name">{{xform.name}} <span class="keyword">({{xform.keyword}})</span></div>
    <div class="description">{{xform.description}}</div>
    <div class="response">Response: {{xform.response}}</div>
