{% extends "xforms/layout.html" %}
{% block title %}XForms{% endblock %}

{% block content %}
<style>
.details {
	margin-top: 50px;
}

.uniForm .textInput{
	width: auto;
	margin-right: 10px;
}

.uniForm .formHint{
	float: left;
}
</style>

<div class="details">
<h4 style="margin-left:20px; margin-top: 45px">
	{{ xform.name }} Submission
</h4>
<table>
<tr><td class="bold right" style="width: 50%;">From:</td><td>{{ submission.connection }}</td></tr>
<tr><td class="bold right">Sent:</td><td>{{ submission.created|date:"m/j/y G:i:s"}}</td></tr>
<tr><td class="bold right">Message:</td><td>{{ submission.raw }}</td></tr>
</table>
</div>

<h3>Values</h3>

{% load uni_form_tags %}
<form action="/xforms/submissions/{{submission.pk}}/edit/" method="post" class="uniForm" id="subForm" enctype="multipart/form-data">
{% csrf_token %}
<fieldset>
{{ form|as_uni_form }}

<div class="buttons" style="float:left;margin-bottom:10px;margin-top:10px">
  <a href="/xforms/{{ xform.pk }}/submissions" class="negative">
    <i class="icon-remove"></i>
    Cancel
  </a>
  <a onclick="$('#subForm').submit();" href="javascript:void(0);">
    <i class="icon-ok"></i>
    Save Submission
  </a>
</div>

</fieldset>
</form>

{% endblock %}
