{% extends "bulksend/base.html" %}
{% load forms_tags %}

{% block stylesheets %}
{{ block.super }}
<!--<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}registration/stylesheets/dashboard.css" />-->
{% endblock %}


{% block content %}

<h2>Groups</h2>
<form action='/bulksend/review/' method="POST">
  <script content="text/javascript">
    var sms_length = {{ sms_length }};
      var sms_cost = {{ sms_cost }};
  </script>
  <div class="well">
      <div style='padding=10'>
          <div>
                  <h4> Send the bulk message to the following group:
          </div>
          <select name='group_id'>
              {% for group in groups %}
              <option value="{{ group.pk }}"> {{ group.name }} </option>
              {% endfor %}
          </select>
      </div>
  </div>
	<h2>Message</h2>
	<div class="well">
		<div style='padding=10'>
	    <div class="module contents">
	        <div class="msg_input">
	          <textarea name="message"
	                    cols="60"
	                    id="message"
	                    rows="25"
	                    onKeyDown="countChars('message','c_count','sms_count','msg_price')"
	                    onKeyUp="countChars('message','c_count','sms_count','msg_price')"></textarea>
	        </div>
	        <div class="price">
	          <table>
	            <thead><tr><th colspan="3">Price evaluation:</th></tr></thead>
	            <tbody>
	                <tr><td class="col_0"></td><td class="col_1" id="c_count"></td><td>characters</td></tr>
	                <tr><td class="col_0">÷</td><td class="col_1">{{ sms_length }}</td><td>char. per SMS</td></tr>
	                <tr class="hr"><td colspan="2" class="col_1"><hr></hr></td><td></td></tr>
	                <tr><td class="col_0">=</td><td class="col_1" id="sms_count"></td><td>SMS per message.</td></tr>
	                <tr class="last_row"><td class="col_0">=</td><td class="col_1" id="msg_price"></td><td>per contact.</td></tr>
	            </tbody>
	          	</table>
	        	</div>
	    	</div>
		</div>
	</div>
    <div style='padding:10'>
        <input type="submit" class="btn" value="Send Messages" />
    </div>
</div>
</form>
{% endblock %}
