{% extends "layout.html" %}

{% block title %}Message Report - {{ block.super }}{% endblock %}

{% block content %}
<div class="module">
<h2>Message Summary</h2>
<table>
    <thead>
        <tr>
            <td rowspan="2">Month</td>
            <td rowspan="2">Year</td>
            {% regroup messages|dictsort:"connection__backend__name" by connection__backend__name as link_list %}
            {% for backend in link_list %}
                <td colspan="2">{{ backend.grouper }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for backend in link_list %}
                <td>Incoming</td>
                <td>Outgoing</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% regroup messages by year as year_list %}
        {% for year in year_list %}
            {% regroup year.list by month as month_list %}
            {% for month in month_list %}
                <tr>
                    <td>{{ month.grouper|floatformat }}</td>
                    <td>{{ year.grouper|floatformat }}</td>
                    {% regroup month.list by connection__backend__name as mlink_list %}
                    {% for backend in link_list %}
                            {% for local_backend in mlink_list %}
                                {% ifequal backend.grouper local_backend.grouper %}
                                    {% comment %}Filthy hack for setting a variable{% endcomment %}
                                    {% regroup local_backend.list by direction as foundit %}
                                    {% if local_backend.list.0.direction == 'I' %}
                                        <td>{{ local_backend.list.0.total }}</td>
                                        {% if local_backend.list.1.direction == 'O' %}
                                            <td>{{ local_backend.list.1.total }}</td>
                                        {% else %}
                                            <td>0</td>
                                        {% endif %}
                                    {% else %}
                                        <td>0</td>
                                        <td>{{ local_backend.list.0.total }}</td>
                                    {% endif %}
                                {% endifequal %}
                                {% if forloop.last %}
                                    {% if not foundit %}
                                        <td>0</td>
                                        <td>0</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                    {% endfor %}
                </tr> 
            {% endfor %}     
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}