<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<style>

	body {
		background:  url("../haruka_theme/static/haruka_theme/images/bg-login.png") repeat-x #B1DEEA;
		color: #333333;
		margin-top: 390px;
		padding: 0;
	}
	
</style>
<body>
	
	<img style="margin-top: 58px; margin-left: 25px;" src="/static/haruka_theme/images/loginlogo.png">
	<h4 style="margin-left: 204px; margin-top: 26px;">HarukaSMS is now loading...</h4>

</body>
</html>
