{% extends "registration/base.html" %}
{% load forms_tags %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}registration/stylesheets/dashboard.css" />
{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert-message {{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="row"> 
	<div class="span7">
		<h4>{% if contact %}
				Edit {{ contact }}{% else %}
				Add a Contact{% endif %}
			</h4>
		<div class="well">
			<form action="" method="post" class="zebra-striped">
				{% render_form contact_form %}
				{% csrf_token %}
		
				<div class="submit">
					<input class="btn primary" type="submit" value="Save Contact" name="submit" style="margin-left: 112px; margin-top: 19px;" />{% if contact %}
					<input type="submit" name="submit" value="Delete Contact" class="btn danger" />{% endif %}
				</div>
			</form>
		</div>
		<h4>Bulk Registration</h4>
		<div class="well">
			<form action="" method="post" enctype="multipart/form-data">
				{% render_form bulk_form %}
				{% csrf_token %}
		
				<div class="submit">
					<input class="btn primary" type="submit" value="Upload Contacts" name="submit" style="margin-left: 177px;" >
				</div>
			</form>
		</div>
	</div>
	<div class="span8">
		<h4>Contacts</h4>
			{{ contacts_table.as_html }}{% if contact %}	
			<div id='well'>
				<div class="toolbar">
					<a href="{% url registration %}" class="add">Add a Contact</a>
				</div>{% endif %}
			</div>
	</div>
</div>	

{% endblock %}
