{% extends "registration/base.html" %}
{% load forms_tags %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}registration/stylesheets/dashboard.css" />
{% endblock %}

{% block content %}

<div class="row"> 
	<div class="span7">
		<h4>{% if contact %}
				Edit {{ contact }}{% else %}
				Add a Contact{% endif %}
			</h4>
		<div class="well">
		
			<form action="" method="post" class="zebra-striped">
				{% render_form contact_form %}
				{% csrf_token %}
		
				<div class="submit">
					<input type="submit" name="submit" value="Save Contact" class="btn primary" />{% if contact %}
					<input type="submit" name="submit" value="Delete Contact" class="btn danger" />{% endif %}
				</div>
			</form>
		</div>
		<h4>Bulk Registration</h4>
		<div class="well">
			<form action="" method="post" enctype="multipart/form-data">
				{% render_form bulk_form %}
				{% csrf_token %}
		
				<div class="submit">
					<input type="submit" name="submit" value="save contacts" class="btn primary" />
				</div>
			</form>
		</div>
	</div>
	<div class="span8">
		<h4>Contacts</h4>
		<div class="well">
			{{ contacts_table.as_html }}{% if contact %}
				<div class="bordered-table">
					<a href="{% url registration %}" class="bordered-table">Add a Contact</a>
				</div>{% endif %}
		</div>
	</div>
</div>	

{% endblock %}
