{% load i18n %}
<td class="category_name_col">
  {{ category.name }}
</td>
<td class="category_response_col">{{ category.response }}</td>
<!--<td class="category_priority_col">{{ category.priority }}</td>-->
<td class="category_color_col" {% if category.color %}style="background-color:#{{ category.color }}"{% endif %}>
  &nbsp;
</td>
<td class="category_default_col">
  {% if category.default %}
    <img style="vertical-alignment:bottom;padding-top:7px" src="{{ MEDIA_URL }}rapidsms/icons/silk/accept.png" alt="This category is default"/>
  {% else %}
    &nbsp;
  {% endif %}
</td>
<td class="category_options_col">
  <a onclick="deleteCategory(this, '{% url poll.views.delete_category poll.pk category.pk %}');" class="negative" style="float:right">
    <img style="vertical-alignment:bottom;padding-top:7px" src="{{ MEDIA_URL }}rapidsms/icons/silk/delete.png" alt=""/>
  </a>
  <div>
    <a class="btn" onclick="editCategory(this, '{% url poll.views.edit_category poll.pk category.pk %}');" href="javascript:void(0);">{% trans "Edit" %}</a>
    {% ifequal poll.type 't' %}
<!--    <a href="{% url poll.views.view_rules  poll.pk category.pk %}" id="save_{{ category.pk }}">
      <img src="{{ MEDIA_URL }}poll/icons/silk/bullet_wrench.png" alt=""/>Rules ({{ category.rules.all.count }})
    </a>-->
    {% endifequal %}
  </div>
</td>
