{% extends "polls/layout.html" %}
{% load i18n %}

{% block title %}{% trans "HarukaSMS - Activity" %}{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}javascripts/polls.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}haruka_theme/js/bootstrap-scrollspy.js" type="text/javascript"></script>
{% endblock %}
{% block content %}

<div class="row">
	<div class="span6">
		<h4 id="quick-SMS-h4">{% trans "Quick SMS" %}</h4>
			<div class="well quick_SMS">
				<form method="POST" class="sender-form">
					{{ reply_form }}
					<input type="hidden" name="action" value="reply" />
					<input type="submit" value="send" class='btn primary' id="quick-SMS-btn"/>
					{% csrf_token %}
				</form>
				<script language="javascript">
					function reply(number) {
					$('#id_recipient').val(number);
					return void(0);
					}
				</script>
			</div>
		<div class="data-box">
			<h4>{% trans "Your Latest Polls" %}</h4>
		  	<table class="condensed-table">
		  		<thead>
		      		<tr>
		        		<th class="poll_name_col">{% trans "Poll Name" %}</th>
		        	<th class="poll_question_col display-none">{% trans "Question" %}</th>
		        		<th class="poll_date_col display-none">{% trans "Start Date" %}</th>
		        		<th class="poll_date_col display-none">{% trans "Activity" %}</th>
		        		<th class="poll_submissions">{% trans "Submissions" %}</th>
		      		</tr>
		    	</thead>
		    	<tbody>
		      		{% if polls %}
		      		{% for poll in polls %}
		      		<tr class="condensed-table">
		        		<td><a href="/polls/{{ poll.pk }}/responses/">{{ poll.name }}</a></td>
		        	<td class="display-none"><b>{% if poll.start_date %}{{ poll.question }}{% else %}<font color="grey">{{ poll.question }}</font>{% endif %}</b></td>
		        	<td class="display-none">{% if poll.start_date %}{{ poll.start_date|date:"d/m/Y" }}{% endif %}</td>
		        	<td class="display-none">{% if poll.end_date %}{{ poll.end_date|date:"d/m/Y" }}{% else %}Still Open{% endif %}</td>
		        		<td class="cell-phone"><span class="phone-count">{{ poll.responses.distinct.count }}
		            		{% if poll.contacts.count > 1 %}
		              		of {{ poll.contacts.count }} ({% widthratio poll.responses.distinct.count poll.contacts.count 100 %}%)
		            		{% endif %}</span>
		           		</td>
		      		</tr>
		      		{% endfor %}
		      		{% else %}
		     		 <tr class="poll_table_row">
		        		<td colspan="5"><i>{% trans "No existing Polls.  Click on 'Polls' to create one." %}</i></td>
		     		 </tr>
		      		{% endif %}
		    	</tbody>
		    </table>
		
		  	<h4>{% trans "Your Latest Data Collection" %}</h4>
		  	<table class="condensed-table">
		    	<thead>
		      		<tr>
		        		<th class="poll_name_col">{% trans "Activity Name" %}</th>
		        	<th class="poll_question_col display-none">{% trans "Keyword" %}</th>
		        		<th class="poll_date_col display-none">{% trans "Description" %}</th>
		        		<th class="poll_date_col display-none">{% trans "Start Date" %}</th>
		       			<th class="poll_date_col display-none">{% trans "Activity" %}</th>
		        		<th class="poll_submissions">{% trans "Submissions" %}</th>
		      		</tr>
		    	</thead>
		    	<tbody>
		      		{% if data_collections %}
		      		{% for data_collection in data_collections %}
		      		<tr class="condensed-table">
		        		<td><a href="/xforms/{{ data_collection.pk }}/submissions/">{{ data_collection.name }}</a></td>
		        		<td class="display-none"><b>{{ data_collection.keyword }}</b></td>
		        		<td class="display-none">{{ data_collection.description }}</td>
		        		<td class="display-none">{% if data_collection.created %}{{ data_collection.created|date:"d/m/Y" }}{% endif %}</td>
		        		<td class="display-none">{% if data_collection.active %} Still Open {% else %} Closed {% endif %}</td>
		
		        		<td class="cell-phone"><span class="phone-count">{{ data_collection.submissions.distinct.count }}</span>
		           		</td>
		      		</tr>
		      {% endfor %}
		      {% else %}
		      		<tr class="poll_table_row">
		        		<td colspan="5"><i>{% trans "No existing Data Collection activities.  Click on 'Data Collection' to create one." %}</i></td>
		      		</tr>
		      {% endif %}
		    	</tbody>
			</table>
		
		</div> <!-- Data Box Div -->
	</div><!-- Span 6 Div -->

	<div class="span8" id="activity-margins">

		  <h4>{% trans "Latest Activity" %}</h4>
		  	<a href="/activity_as_csv/"><img id="download-activity" src='{{STATIC_URL}}images/download-alt.png'/></a>
<!--		  	<body data-spy="scroll" >-->
		  	
		  		<div id="condensed-table">
		      		{{ messages_table|safe }}
		  		</div>
		  		<!--<a class="more_msg" href="/router/console">More Messages</a>-->
		  		<script type="text/javascript">
				    function update() {
				        $.get("/polls/latest_messages", function(data) {
				        $("#messages_table").html(data);
				            window.setTimeout(update, 5000);
				        });
				    }
				    window.setTimeout(update, 5000);
		  		</script>
		  		<script type="text/javascript">
					$(function() {
						$('#navbar').scrollspy();
					});	
				</script>
<!--		  	</body>	-->
	</div>	
</div>
{% endblock %}
