{% extends "polls/layout.html" %}
{% block title %}Polls{% endblock %}

{% block content %}

<script type="text/javascript">
	
	// Add a new box for entering a new category
	function addNewCategoryBox() {
		var newBox = $("#new_category_box").clone();
		newBox.load( "{% url poll.views.add_category poll.pk %}", function() {
			newBox.show();
			newBox.id = "category_box_" + Math.floor((new Date()).getTime() / 1000);
			$('#poll_table').append(newBox);
		});
	}
	
	$(document).ready(function() {
		// hide our new category template
		$('#new_category_box').hide();
		showPollDetails();
		// if no categories, show the add new category form
		if ({{category_count}} == 0) {
			addNewCategoryBox();
		}
	});
	
	function showPollDetails() {
	  $("#poll_header").load("{% url poll.views.view_poll_details poll.pk %}");
	}
	
	function deleteCategory(link, url) {
	  if (confirm("Are you sure you want to delete this category?")) {
      $.post(url, function(data) {
        $(link).parents("tr").remove();
      }); 
    }
  }
  
  function editCategory(link, url) {
    $(link).parents("tr").load(url);
    selected = $(("#selection_" + category_id));
    selected.addClass('form_selected');
    selected.removeClass('form_unselected');
  }
	
  function saveCategory(link, form_action) {
      form_data = $(link).parents("form").serializeArray();
      $(link).parents("tr").load(form_action, form_data);
  }
  
  function addCategory(link) {
      form_data = $(link).parents("form").serializeArray();
      $(link).parents("tr").load('{% url poll.views.add_category poll.pk %}', form_data);    
  }
  
  function cancelAdd(link) {
      if (confirm("Are you sure you want to cancel this new category?")) {
          $(link).parents("tr").remove();
      }
  }
	
	function cancelCategory(link, url) {
        $(link).parents("tr").load(url);
	}
	
	function editPollDetails() {
	  $("#poll_header").load('{% url poll.views.edit_poll poll.pk %}');
	}
	
	function submitForm(link, resultDiv) {
	    form = $(link).parents("form");
        form_data = form.serializeArray();
        $(resultDiv).load(form.attr("action"), form_data);
	}
	
	// Trap our ajax errors and put them where we can see them
	$.ajaxSetup({
		error:function(x,e){
			if(x.status==0){
				$("#error").html("Oopsie, network not found.");
			} else if(x.status>=400){
				$("#error").html(x.responseText);	
			}
		}
	});
	
</script>
  
<div id="poll_header">
</div>

<form action="">
{% csrf_token %}
<table width="100%" class="poll_table" id="poll_table">
<thead>
<tr>
<th class="category_name_col">Name</th>
<th class="category_response_col">Response Message</th>
<th class="category_priority_col">Priority</th>
<th class="category_color_col">Color</th>
<th class="category_default_col">Default</th>
<th class="category_options_col"></th>
</tr>
</thead>
{% for category in categories %}
    <tr>
        {% include "polls/category_view.html" %}
    </tr>
{% endfor %}
<tr id="new_category_box">
</tr>
</table>
</form>
<br/>
<div class="buttons">
    <a href="javascript:addNewCategoryBox();" style="float:left">
      <img border="0" src="{{ MEDIA_URL }}rapidsms/icons/silk/add.png" alt=""/>Add New Category
    </a>
</div>
<br/><br/>
<div id="error"></div>
{% endblock %}
