{% extends "polls/layout.html" %}
{% load i18n %}
{% block title %}{% trans "HarukaSMS - Polls" %}{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}javascripts/polls.js" type="text/javascript"></script>

{% endblock %}
{% block content %}

<a class="btn large primary" style="margin-bottom:30px; margin-top: 45px; margin-left: 20px; " href="{% url poll.views.new_poll %}"> {% trans "Add New Poll" %} </a> 

<table class="condensed-table" style="width:878px; margin-left:20px;"> 
  <thead> 
    <tr>
      <th class="poll_name_col">{% trans "Name" %}</th>  
      <th class="poll_question_col" style='width:290px;'>{% trans "Question" %}</th>
      <th class="poll_date_col">{% trans "Start Date" %}</th>
      <th class="poll_date_col">{% trans "Closing Date" %}</th>
      <th class="poll_options_col" style='width:212px;'></th> 
    </tr> 
  </thead> 
  <tbody>
    {% if polls %}
    {% for poll_obj in polls %}
    <tr class="table">
      <td>{{ poll_obj.name }}</td>
      <td><b>{% if poll_obj.start_date %}{{ poll_obj.question }}{% else %}<font color="grey">{{ poll_obj.question }}</font>{% endif %}</b></td>
      <td>{% if poll_obj.start_date %}{{ poll_obj.start_date|date:"d/m/Y" }}{% endif %}</td>
      <td>{% if poll_obj.end_date %}{{ poll_obj.end_date|date:"d/m/Y" }}{% else %}Open{% endif %}</td>      
      <td>
          <a style="float:right;padding-top:7px;" href="javascript:void(0);" onclick="deletePoll(this, '{% url poll.views.delete_poll poll_obj.pk %}','{{poll_obj.question|addslashes}}');"><img border="0" src="{{ STATIC_URL }}icons/silk/delete.png"/></a>
          <div>
              {% if poll_obj.responses__count %}
<!--                  <a href="{% url poll-report poll_obj.pk %}">  </a>-->
<!--                        <img src="{{ STATIC_URL }}icons/silk/zoom.png" alt=""/> Report-->
                  </a>
            	  <a href="{% url poll-responses poll_obj.pk %}" class="btn">
                        {% trans" Responses" %}({{ poll_obj.responses__count }})</a>
	          {% endif %}
	          <a href="{% url poll.views.view_poll poll_obj.pk %}" class="btn">{% trans "Edit" %}</a>
	      </div>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="poll_table_row">
      <td colspan="5"><i>{% trans "No existing Polls.  Click 'Add New Poll' to create one." %}</i></td>
    </tr>
    {% endif %}
  </tbody>
</table>
<br/>



<br/><br/>

<br/>



<form name="form" method="post" action="">
{% csrf_token %}
</form>


{% endblock %}
