<div class="buttons">
    {% if not poll.start_date %}
    <a onclick="editPollDetails();" href="javascript:void(0);">
        <img src="{{ MEDIA_URL }}poll/icons/silk/pencil.png" alt=""/> 
        Edit
    </a>
    <form style="border:0px" action="{% url poll.views.start_poll poll.pk %}" method="POST" id="startPollForm">
    <a onclick="submitForm(this, '#poll_header');" href="javascript:void(0);">
        <img src="{{ MEDIA_URL }}poll/icons/silk/phone.png" alt=""/> 
        Start Poll
    </a>
    </form>
    {% endif %}
    {% if poll.start_date and not poll.end_date %}
    <form style="border:0px" action="{% url poll.views.end_poll poll.pk %}" method="POST" id="closePollForm">
    <a onclick="submitForm(this, '#poll_header');" href="javascript:void(0);">
        <img src="{{ MEDIA_URL }}rapidsms/icons/silk/delete.png" alt=""/> 
        Close Poll
    </a>
    </form>    
    {% endif %}
</div>
<div class="name">{{ poll.name }} 
  <span class="participants">({{ poll.contacts__count }} participant{{ poll.contacts__count|pluralize }})</span>
</div>
<div class="question">{{ poll.question }}</div>
<div class="response">Response: {{ poll.default_response }}</div>
