<style>
#poll_header .name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 17px;
}
</style>


<div class="name">Edit '{{poll.name}}'</div>

{% load uni_form_tags %}

<form action="{% url poll.views.edit_poll poll.pk %}" method="post" class="uniForm">
<fieldset>
{{form|as_uni_form}}


  <a class='btn'="showPollDetails('{{ poll.pk }}');" href="javascript:void(0);" class="negative" class='btn'>
    Cancel
  </a>
  <a onclick="submitForm(this, '#poll_header');" href="javascript:void(0);" class='btn primary'>
    Save Poll Details
  </a>

</fieldset>
</form>
