<div id="poll_header">
<div class="buttons">
    <a href="javascript:void(0)" onclick="$.get('{% url poll.views.demo poll.pk %}')" style="float:right"> 
      <img border="0" src="/static/rapidsms/icons/silk/package_go.png" alt=""/>Send Alerts
    </a>
</div>
<div class="name">{{ poll.name }} :
  <span class="participants">{{ poll.contacts.count }} participant{{ poll.contacts.count|pluralize }}, {{ total_responses }} total response{{ total_responses|pluralize }} ({{ response_rate|floatformat }}% response rate)</span>
</div>
<div class="question">{{ poll.question }}</div>
<div class="response">Response: {{ poll.default_response }}</div>
</div>
<table width="100%" class="poll_table"> 
    <thead>
            <th>Location</th>
            {% for category in categories %}
                <th>{{ category.name }}</th>
            {% endfor %}
            <th>Uncategorized</th>
    </thead>
    <tbody>
        {% for location_data in report_rows %}
            <tr>
                {% comment %}
                <td>
                    {% if location_data.location %}
                        <a href="javascript:void(0)" onclick="$('#poll_report').load('{% url poll-report-location-module poll.pk location_data.location.pk %}')">
                            {{ location_data.location.name }}
                        </a>
                    {% else %}
                        Unknown location
                    {% endif %}
                </td>
                {% for category_name, category_color, total, percent in location_data.report_data %}
                    <td {% if category_color %}style="background-color:#{{ category_color }}"{% endif %}>{{ total }} ({{ percent|floatformat }}%)</td>
                {% endfor %}
                <td>{{ location_data.uncategorized }} ({{ location_data.uncategorized_percent|floatformat }}%)</td>
                {% endcomment %}

                <td>
                    {% if location_data.location_id %}
                        <a href="javascript:void(0)" onclick="$('#poll_report').load('{% url poll-report-location-module poll.pk location_data.location_id %}')">
                            {{ location_data.location_name }}
                        </a>
                    {% else %}
                        Unknown location
                    {% endif %}
                </td>
                {% for category_name, category_color, total, percent in location_data.report_data %}
                    <td {% if category_color %}style="background-color:#{{ category_color }}"{% endif %}>{{ total }} ({{ percent|floatformat }}%)</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
