{% block message_information %}
    <td class="response_sender_col">
      {% if response.message.connection.contact %}
        {{ response.message.connection.contact }}
      {% else %}
        {{ response.message.connection.identity }}
      {% endif %} 
       at {{ response.message.date|date:"d/m/Y H:i" }}
    </td>
{% endblock %}
{% block remaining_content %}
{% endblock %}
{% block actions_cell %}
    <td class="response_options_col">
    {% block actions_content %}
      <a onclick="deleteResponse(this, '{% url poll.views.delete_response response.pk %}');" class="negative" style="float:right">
      <img style="vertical-alignment:bottom;padding-top:7px" src="{{ MEDIA_URL }}rapidsms/icons/silk/delete.png" alt=""/>
      </a>
      <div>
        <a onclick="editResponse(this, '{% url poll.views.edit_response response.pk %}');" href="javascript:void(0);" class='btn' style='position: relative; left:261px; top: 2;' >
            Edit
        </a>
      </div>
    {% endblock %}
    </td>
{% endblock %}
