{% extends "polls/response_base_view.html" %}
{% block remaining_content %}
    <td class="center response_text_col">
      {% ifequal response.poll.type "t" %}
        {{ response.eav.poll_text_value }}
      {% else %}
        {% ifequal response.poll.type "n" %}
          {{ response.eav.poll_number_value }}
        {% endifequal %}
      {% endifequal %}
    </td>
    <td class="response_categories_col">
      {% if response.categories %}
        <ul class="category_list">
          {% for responsecategory in response.categories.all %}
          <li {% if responsecategory.category.color %}style="width:100%;background-color:#{{ responsecategory.category.color }}"{% endif %}>
            {{ responsecategory.category.name }}
          </li>
          {% endfor %}
        </ul>
      {% endif %}
    </td>
{% endblock %}