{% extends "polls/response_base_view.html" %}
{% block remaining_content %}
    <td class="center response_text_col">
        {{ response.message.text }} 
    </td>
    <td class="response_location_col">
        {{ response.eav.poll_location_value.name }}
    </td>
    <td class="response_categories_col">
      {% if response.categories %}
        <ul class="category_list">
          {% for responsecategory in response.categories.all %}
          <li {% if responsecategory.category.color %}style="width:100%;background-color:#{{ responsecategory.category.color }}"{% endif %}>
            {{ responsecategory.category.name }}
          </li>
          {% endfor %}
        </ul>
      {% endif %}
    </td>
{% endblock %}
{% block actions_contexnt %}
    {{ block.super }}
    {% ifnotequal response.message.connection.contact.reporting_location response.eav.poll_location_value %}
        <a href="{% url poll.views.apply_response response.pk %}">
          <img src="{{ MEDIA_URL }}poll/icons/silk/application_form_add.png" alt=""/>Register User
        </a>
    {% endifnotequal %}
{% endblock %}