{% extends "polls/response_base_edit.html" %}
{% block remaining_content %}
<td class="center response_text_col">
    {% ifequal response.poll.type "t" %}
      {{ response.eav.poll_text_value }}
    {% else %}
      {% ifequal response.poll.type "n" %}
        {{ response.eav.poll_number_value }}
      {% endifequal %}
    {% endifequal %}
</td>
<td class="response_location_col">
    {{ form.value }} {{ form.value.errors }}
</td>
<td class="response_categories_col">
    {{ form.categories }} {{ form.categories.errors }}
</td>
{% endblock %}