<td class="rule_rule_type_friendly_col">{{ rule.rule_type_friendly }}</td>
<td class="rull_rule_string_col">{{ rule.rule_string }}</td>
<td class="rule_options_col" >
      <a style="float:right" onclick="deleteRow(this, '{% url poll.views.delete_rule poll.pk category.pk rule.pk %}');" href="javascript:void(0);">
        <img border="0" style="padding-top:7px;" src="{{ MEDIA_URL }}rapidsms/icons/silk/delete.png" alt=""/> 
      </a>
      <div class="buttons">
          <a onclick="editRow(this, '{% url poll.views.edit_rule poll.pk category.pk rule.pk %}');" href="javascript:void(0);">
              <img src="{{ MEDIA_URL }}poll/icons/silk/pencil.png" alt=""/> 
              Edit
          </a>
      </div>
</td>
